{% load static %}
<!DOCTYPE html>
<html>
<head>
       <title></title>
       <link rel="stylesheet" type="text/css" href= "{% static 'about us.css' %}">
       <script src="https://kit.fontawesome.com/67dfcfef99.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="bgimage">
       <div class="menu">
<div class="leftmenu">
       <h4>Interior Design</h4>
</div>
<nav>
       <ul>
       <li ><a href='index'>Home</li></a>
       <li><a href="#">Services <i class="fas fa-chevron-circle-down"></i></a>
                 <ul>
                     <li><a href='livingroom'>Living Room Interiors<a></li>
                     <li><a href='kitchen'> Modular Kitchen</a></li> 
                     <li><a href='bedroom'>Bedroom Interiors</a></li>   
                 </ul>
              </li>

              <li><a href='price'>Price list</a></li>
		   <li><a href='testi'>Testimonials </a></li>

              <li id="firstlist">About us</a></li>

</nav>
</div>

<div class="bottom-header-sub">
       <div class="sub-page">
              <h2></h2>
       </div>
</div>
<div class="main" id="main" style="padding: 50px 0; text-align: left";>
       <div class="content-sub-about">
              <img src="{% static 'imag3.jpg' %}" alt="" style="width:300px;height: 220px;margin-left: 40px;margin-top: 15px;">
              <h3><span>About Company</span></h3>
              <p>Our Comany is an Interior Design firm established especially with a passion to bring to life your space of dreams. We come with the enriched design experience in residential, commercial and office spaces.We are a team of passionate, energetic, creative and inquisitive designers with interests ranging from travel, dancing, reading, cooking to animals. We are always drawing inspiration from our surroundings, constantly questioning what we see and how it can be applied to the world of design.
                     Our passion for design translates into seamless, unique and timeless spatial experiences. We approach each design project with just the right amount of excitement and passion, enabling us to effectively translate clients’ requirements into seamless, unique and timeless spatial experiences.



</p>
</div>
</div>
</body>
</html>

