{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'kitchenstyle.css' %}">
	<script src="https://kit.fontawesome.com/67dfcfef99.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="bgimage">
	<div class="menu">
<div class="leftmenu">
	<h4>Bedroom Interior</h4>
</div>
<nav>
	<ul>
		<li><a href='index'>Home</a></li>
		<li><a href="#">Services <i class="fas fa-chevron-circle-down"></i></a>
			   <ul>
				   <li><a href='Kitchen'>Modular kitchen<a></li> 
				   <li><a href='livingroom'>Living Room Interiors</a></li>	
			   </ul>
			</li>
			<li><a href='price'>Price list</a></li>
			<li><a href='testi'>Testimonials </a></li>
			<li><a href='about'>About us</a></li>
</nav>
</div>
<div class="container">
	<div class="box">
		<div class="imgBox">
			<img src="{% static 'img42.jpg' %}">
		</div>
	</div>
<div class="box">
		<div class="imgBox">
			<img src="{% static 'img43.jpg' %}">
		</div>
	</div>
	<div class="box">
		<div class="imgBox">
			<img src="{% static 'img41.jpg' %}">
		</div>
	</div>
	<div class="box">
		<div class="imgBox">
			<img src="{% static 'img45.jpg' %}">
		</div>
	</div>
	<div class="box">
		<div class="imgBox">
			<img src="{% static 'img46.jpg' %}">
		</div>
	</div>
	<div class="box">
		<div class="imgBox">
			<img src="{% static 'img58.jpg' %}">
		</div>
	</div>
		<div class="box">
		<div class="imgBox">
			<img src="{% static 'img48.jpg' %}">
		</div>
	</div>
	<div class="box">
		<div class="imgBox">
			<img src="{% static 'img49.jpg' %}">
		</div>
	</div>
	<div class="box">
		<div class="imgBox">
			<img src="{% static 'img50.jpg' %}">
		</div>
	</div>
	<div class="box">
		<div class="imgBox">
			<img src="{% static 'img51.jpg' %}">
		</div>
	</div>
	<div class="box">
		<div class="imgBox">
			<img src="{% static 'img59.jpg' %}">
		</div>
	</div>
	<div class="box">
		<div class="imgBox">
			<img src="{% static 'img58.jpg' %}">
		</div>
	</div>
	<div class="box">
		<div class="imgBox">
			<img src="{% static 'img54.jpg' %}">
		</div>
	</div>
	<div class="box">
		<div class="imgBox">
			<img src="{% static 'img55.jpg' %}">
		</div>
	</div>
	<div class="box">
		<div class="imgBox">
			<img src="{% static 'img60.jpg' %}">
		</div>
	</div>
</div>
</body>
</html>	
