{%  load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href=" {% static 'kitchenstyle.css' %} ">
	<script src="https://kit.fontawesome.com/67dfcfef99.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="bgimage">
	<div class="menu">
<div class="leftmenu">
	<h4>Living Room</h4>
</div>
<nav>
	<ul>
       <li><a href='index'>Home</a></li>
       <li><a href="#">Services <i class="fas fa-chevron-circle-down"></i></a>
       	   <ul>
       	   	<li><a href='Kitchen'>Modular kitchen<a></li> 
       	   	<li><a href='Bedroom'>Bedroom Interiors</a></li>	
       	   </ul>
       	</li>
       	<li><a href='price'>Price list</a></li>
		   <li><a href='testi'>Testimonials </a></li>
		   <li><a href='about'>About us</a></li>
</div>
<div class="container">
	<div class="box">
		<div class="imgBox">
			<img src="{% static 'img23.jpg' %}">
		</div>
	</div>
<div class="box">
		<div class="imgBox">
			<img src="{% static 'img24.jpg' %}">
		</div>
	</div>
	<div class="box">
		<div class="imgBox">
			<img src="{% static 'img25.jpg' %}">
		</div>
	</div>
	<div class="box">
		<div class="imgBox">
			<img src="{% static 'img26.jpg' %}">
		</div>
	</div>
	<div class="box">
		<div class="imgBox">
			<img src="{% static 'img27.jpg' %}">
		</div>
	</div>
	<div class="box">
		<div class="imgBox">
			<img src="{% static 'img28.jpg' %}">
		</div>
	</div>
		<div class="box">
		<div class="imgBox">
			<img src="{% static 'img29.jpg' %}">
		</div>
	</div>
	<div class="box">
		<div class="imgBox">
			<img src="{% static 'img30.jpg' %}">
		</div>
	</div>
	<div class="box">
		<div class="imgBox">
			<img src="{% static 'img31.jpg' %}">
		</div>
	</div>
	<div class="box">
		<div class="imgBox">
			<img src="{% static 'img32.jpg' %}">
		</div>
	</div>
	<div class="box">
		<div class="imgBox">
			<img src="{% static 'img33.jpg' %}">
		</div>
	</div>
	<div class="box">
		<div class="imgBox">
			<img src="{% static 'img34.jpg' %}">
		</div>
	</div>
	<div class="box">
		<div class="imgBox">
			<img src="{% static 'img35.jpg' %}">
		</div>
	</div>
	<div class="box">
		<div class="imgBox">
			<img src="{% static 'img36.jpg' %}">
		</div>
	</div>
	<div class="box">
		<div class="imgBox">
			<img src="{% static 'img37.jpg' %}">
		</div>
	</div>
</div>
</body>
</html>	
