
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'testi.css' %}">
	<meta name="viewport" content="width=device-width,vinitial-scale=1">
	<script src="https://kit.fontawesome.com/b686ab58a7.js" crossorigin="anonymous"></script>
</head>
<body>
      <div class="bgimage">
      <div class="menu">
<div class="leftmenu">
      <h4>TESTIMONIALS</h4>
</div>
<nav>
      <ul>
       <li><a href="index">Home</a></li>
       <li><a href="#">Services <i class="fas fa-chevron-circle-down"></i></a>
               <ul>
                  <ul>
                        <li><a href='livingroom'>Living Room Interiors<a></li>
                        <li><a href='kitchen'> Modular Kitchen</a></li> 
                        <li><a href='bedroom.html'>Bedroom Interiors</a></li>   
                    </ul>
                 </li>
   
                 <li><a href='price'>Price list</a></li>
                 <li id="firstlist">Testimonials </a></li>
   
                 <li><a href='about'></a>About us</a></li>
   
</nav>
</div>

	<div class="testimonials">
		<div class="inner">
			<h1>TESTIMONIALS</h1>
			<div class="border"></div>
              
            <div class="row">
            	<div class="col">
            		<div class="testimonial">
            			<img src="{% static 'test1.jpeg' %}">
            			<div class="name">Vikranth V.S</div>
            			<div class="stars">
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>

            			</div>
            			
                        <p>“The team at The Interior Design provide just the right balance of professionalism, creativity and customer service to suit our needs. Having undertaken a number of projects with them, they have listened carefully every time to the brief and come up with something that hits the spot across a range of disciplines.”</p>

            		</div>
            		
            	</div>

            	<div class="col">
            		<div class="testimonial">
            			<img src= "{% static 'test2.jpeg' %}">
            			<div class="name">Gayathri Devanur</div>
            			<div class="stars">
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="far fa-star"></i>
                         <i class="far fa-star"></i>

            			</div>
            			
                        <p>“Always a pleasure to work with The Interior Design. Such professional and happy people and you know you’ll receive a quick, innovative and no fuss service. At times the completion turned out a little slow but yet they managed to give us a completely satisfied result. Hopifully we would want to work with them again.”</p>

            		</div>
            		
            	</div>

            	<div class="col">
            		<div class="testimonial">
            			<img src="{% static 'test3.jpeg' %}">
            			<div class="name">Prathiba N.P</div>
            			<div class="stars">
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="far fa-star"></i>

            			</div>
            			
                        <p>“The team at The Interior Design are great listeners,they understood exactly what I was trying to achieve and I can’t praise their attention to detail highly enough. Nothing was too much trouble and I was delighted with the wonderful outcome of my house. Their pricing isn't too high for a average coustomers.”</p>

            		</div>
            		
            	</div>
            	
            </div>



		</div>
	</div>

</body>
</html>